@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    z-index: 99999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    transition: .6s ease;
    background-color: rgba(0, 153, 255, 0.8);
    /* background-color: hsl(360, 10%, 70%); */
}

.nav-bar{
    position: relative;
    height: calc(4rem+1rem);
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    transition: .6s ease;
}

.nav-bar .logo{
    color: var(--first-color);
    font-size: 2.5em;
    font-weight: 600;
}

.nav-items a{
    color: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: 600;
    padding: 10px;
}

.nav-items a:hover{
    color: var(--second-color);
}
body {
    text-align: center;
}
.container{
    border: 1.5px solid black;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 100px;
}
h1 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
.custom-button {
    background-color: rgba(0, 42, 255, 0.699);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius:6px;
    width: 110px;
    height: 40px;
    cursor: pointer;
    margin-top: 10px;
}
.custom-button:hover{
    background-color: yellowgreen;
}
a{
    text-decoration: none;
    color: white;
}
img{
    height: 120px;
    width: 500px;
    margin: 5px 50px 0px 50px ;
}